@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.mw-lg {
    max-width: 1440px;
}


/************ NAVBAR ************/

.navbar {
    max-width: 1297px;
    margin-top: 78px !important;
    margin-bottom: 225px !important;
    padding: 0;
}

.navbar img {
    width: 240px;
}

.navbar button {
    width: 136px;
    height: 40px;
    border: solid 1.5px #FF52C1;
    border-radius: 20px;
    background-color: #fff;
    color: #FF52C1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.navbar button:focus-visible,
.navbar button:hover {
    color: #FF8ED7;
    border-color: #FF8ED7;
    box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
}

header {
    max-width: 1017px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #00252E;
    margin-bottom: 26px;
}

header p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #00252E;
    margin-bottom: 49px;
}

header button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF52C1;
    color: #fff;
    border: none;
    width: 400px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 120px;
}

header button:focus-visible,
header button:hover {
    background-color: #FF8ED7;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
}

header img {
    max-width: 1016px;
    width: 100%;
}

header section {
    max-width: 880px !important;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 133px;
}

header section h2 {
    font-size: 96px;
    font-weight: 700;
    line-height: 144px;
    margin-bottom: 2px;
    margin-top: 0;
}

header section img {
    width: 56px;
    text-align: left;
}

header section p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #808E9A;
}

header section .row {
    max-width: 880px;
}

header section .row > div > div {
    width: fit-content !important;
}

main {
    width: 100vw !important;
}
main .grow {
    background-image: url("../images/bg-1.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    width: 100%;
    padding-top: 229.44px;
    padding-bottom: 188.66px;
    padding-left: 130px;
    padding-right: 130px;
}

main .grow .container {
    max-width: 1180px !important;
    padding: 0 !important;
}

main .grow .container .row {
    max-width: 1180px !important;
    width: 100% !important;
    margin: 0 auto !important;
}

main .grow .container .row > div {
    align-self: center;
}

main .grow .container .row > div:nth-child(1) {
    padding:0 50px 0 0;
}

main .grow .container .row > div:nth-child(2) {
    padding:0 0 0 50px;
}

main .grow .container img {
    max-width: 100%;
}

main .grow .container h2 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00252E;
    margin: 0 0 26px 0;
}

main .grow .container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00252E;
}

@media screen and (max-width: 576px) {
    .navbar {
        max-width: 327px;
        margin-top: 24px !important;
        margin-bottom: 112px !important;
        padding: 0;
    }

    .navbar button {
        width: 80px;
        height: 24px;
        font-size: 9.41px;
        line-height: 12.82px;
    }

    .navbar img {
        width: 96px;
    }

    header {
        max-width: 296px;
    }

    header h1 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    header p {
        font-size: 14px;
        line-height: 21px;
    }

    header button {
        width: 200px;
        height: 40px;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 104px;
    }
}

@media  (max-width: 768px) {
    header section {
        max-width: 160px !important;
    }

    header section .row > div:nth-child(1) > div img {
        width: 35.56px;
    }

    header section .row > div:nth-child(2) img {
        width: 31.22px;
    }

    header section .row > div:nth-child(1) > div h2 {
        font-size: 60.95px;
        line-height: 91.43px;
    }

    header section .row > div:nth-child(2) h2 {
        font-size: 53.52px;
        line-height: 80.28px;
    }

    header section .row > div:nth-child(1) > div p {
        font-size: 15.24px;
        line-height: 22.86px;
    }

    header section .row > div:nth-child(2) p {
        font-size: 13.38px;
        line-height: 20.07px;
    }
}

